body {
    /* flexbox para aliamento */
    display:
     flex;
    align-items: center;
    /*As caixas de margem dos itens flex são centralizados ao longo da linha do eixo*/
    justify-content: center;
    /*define como o navegador distribui espaço entre e ao redor de itens de conteúdo 
    ao longo do eixo principal de um contêiner*/
    height: 100vh;
    background-color: #151b29;
}

button{
    /*remover cor padão de fundo*/
    background: none;
    color:#ffa260;
    /*borda*/
    border: 2px solid;
    /*espaciamento interno*/
    padding: 1em 2em;
    /*tamanho da fonte*/
    font-size: 1em;
    /* Ela permite definir a transição entre dois estados de um elemento */
    /* selecionei quais os elementos e eventos quero que aconteça a transição */
    /* SEM ENCOMODO COM FUTURAS ESTILIZAÇÕES COM TRANSITION. */
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
/*cursor do mouse passando em cima - hover*/
button:hover{
    border-color: #f1ff5c;
    color: white;
    /* adiciona efeitos de sombra em torno do quadro de um elemento*/
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
     /*mover o botão para cima com o elemento transform   */
     /*translateY negativo irá fazer subir o botão.  */
    transform: translateY(-0.25em);
    



}
